*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    
    background-image: url("../img/background-village.jpg");
    background-size: cover;
    overflow: hidden;
}

body::after {
    content: "";
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,.4) 80%,rgba(0,0,0,.4) 80%,rgba(0,0,0,.4));
    z-index: 1;
}

.characters {
    position: absolute;
    left: 50%;
    top: 5%;
    
    z-index: 2;
}

.character{
    display: none;
}

.character.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.character img {
    width: 50%;
    height: 50%;
}

.content{
    min-height: 100vh;
    max-width: 500px;

   
    font-family: 'Roboto';
    color:#fff
}

.content .name-character{
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
}

.content .description {
    text-align: justify;
}

.buttons{
    position: absolute;
    left: 5%;
    bottom: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    list-style: none;
    z-index: 2;
    gap: 5px;
}


.buttons li .btn {
    display: flex;
    background: 0;
    border: 2px solid gray;
    cursor: pointer;
}

.buttons li .btn:hover{
    border: 2px solid #72bcd4;

}

.buttons li .btn .selected {
    border: 2px solid #72bcd4;
}

.buttons img {
    width: 60px;
    height: 60px;
}


